/*Universal Styling*/
*, *:before, *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    height: 100%;
    background: linear-gradient(135deg, #B5E5CF, #B99095);
    
}

/* Style for the content of the container*/
.container{
    background-color: white;
    min-width:420px;
    min-height: 330px;
    padding: 35px 50px;
    border-radius: 10px;
    margin: 150px 200px;
}

h1{
    font-size: 30px;
    text-align: center;
}

form{
    width: 100%;
    position: relative;
    margin: 35px auto 0 auto;
}

.container-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3px 3px;
    margin-bottom: 20px;
    margin-left: 20px;
}

input[type=text], input[type=number]{
    width: auto;
    text-align: center;
    padding: 12px 15px;
    margin: 12px 0;
    display: inline-block;
    border: 1px solid #EBBBB0;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus{
    outline: 1px solid #EBBBB0;
    border-color: #EBBBB0;
}

input[type=submit]{
    display: inline-block;
    background-color: #EBBBB0;
    color: white;
    padding: 8px 15px;
    margin: 12px 0;
    margin-top: 10px;
    margin-left: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    height: 40px;
}

/* To make page responsive */
@media (max-width: 500px) {
    input[type=text], input[type=number]{
        width: auto;
        float: left;
    }
    input[type=submit]{
        margin: 0 auto;
        float: right;
        margin-left: 100px;
        display: block;
    }
    .container{
        height: auto;
        width: 700px;
    }
    .table thead{
        display: none;
    }
    .controls{
        font-size: 5px;
        margin-top: -8px;
    }
    .controls-button-insert{
        margin-top: -10px;
    }

}

@media (max-width: 696px) {
    .container{
        width: auto;
        min-width:320px;
        padding: 40px 40px;
        margin: 100px 100px;
    }
    input[type=text], input[type=number]{
        width: 100%;
        float: left;
    }
    input[type=submit]{
        float: left;
        display: block;
    }
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 20px;
    }
    .table td{
        border-collapse: collapse;
        margin: -10px;
        height: 50px;
        font-size: 20px;
    }
    .table td{
        border-collapse: collapse;
        margin: -10px;
        height: 50px;
        font-size: 20px;
    }
    .controls{
        font-size: 4px;
        margin-top: -8px;
        
    }
}

@media (max-width: 767px) {
    body{
        height: auto;
    }
    .container{
        width: 70%;
        min-width:320px;
        padding: 40px 40px;
        margin: 100px 100px;
    }
    h1{
        font-size: 17px;
        text-align: center;
    } 
    input[type=text], input[type=number]{
        width: 80%;
        float: left;
        margin-left: 15px;
    }
    input[type=submit]{
        /*margin: 0 75%;*/
        margin-right: 220px;
        display: block;
    }
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }
    .table tr{
        margin-bottom: 20px;
    }
    .table td{
        border-collapse: collapse;
        margin: -10px;
        height: 50px;
        font-size: 20px;
    }
    #table-body{
        justify-content: center;
    }
    .controls{
        margin-left: 23%;
        margin-top: -8px;
    }
    .date{
        display: none;
    }
}


@media (min-width:1024px) {
    .container-row{
        display: flex;
        width: 100%;
    }
    .container-row > *{
        width: 33%;
        margin: 10px 10px;
    }
    input[type=text], input[type=number]{
        padding: 5px 5px;
        margin: 12px 0;
        width: 150px;
    }
    input[type=submit]{
        margin: 0 20px;
        display: block;
        margin-top: 12px;
        height: 40px;
    }
    .table tr{
        margin-bottom: 20px;
    }
}


@media (min-width: 768px) and (max-width:1023px) {
    .container{
        width: 700px;
    }
    .container-row{
        display: flex;
        width: 100%;
    }
    .container-row > *{
        width: 30%;
    }
    input[type=text], input[type=number]{
        width: 100%;
        float: left;
    }
    input[type=submit]{
        margin: 0 auto;
        display: block;
        margin-top: 12px;
        height: 47px;
    }
    .table thead tr th{
        font-size: 10px;
        width: 200px;
    }
    .table td{
        border-collapse: collapse;
        height: 50px;
        font-size: 15px;
    }
    .controls-button{
        font-size: 5px;
    }
    .table tbody{
        border-collapse: collapse;
        font-size: 10px;
    }
    
}

/* Styling the table attributes */
.table{
    border-spacing:0 15px;
    margin: 0 auto;
    width: 100%;
    font-size: 25px;
}

th, td{
    align-items: center;
    padding: 10px 10px;
    background: #EBBBB0;
    width: 200px;
}

.table thead{
    background-color: #EBBBB0;
}

.table thead tr th{
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: white;
    opacity: 1;
    padding: 15px;
    vertical-align: top;
    text-align: center;
}

.table tbody{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: black;
    border-collapse: separate;
    padding: 15px;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
}


/* Styling buttons */
.controls{
    display: flex;
}

.controls-button-item-add{
    border: none;
    border-radius: 50%;
    padding: 12px 12px 12px 12px;
    margin-left: 45px;
    font-size: 15px;
    font-weight: 900;
    margin-right:5px;
}   
.controls-button-item-remove{
    border: none;
    border-radius: 50%;
    padding: 12px 12px 12px 12px;
    margin-left: 38px;
    font-size: 15px;
    font-weight: 700;
}   

.controls-button-item-sub{
    border: none;
    border-radius: 50%;
    padding: 12px 12px 12px 12px;
    margin-left: 38px;
    font-size: 15px;
    font-weight: 900;
    margin-right:1px;
}   


.controls-button-insert{
    border: none;
    border-radius: 50%;
    padding: 12px 12px 12px 12px;
    margin-left: 4px;
    font-size: 15px;
    font-weight: 900;
    align-items: center;
    margin-right: 29px;
}

.controls-button-insert-remove{
    border: none;
    border-radius: 50%;
    padding: 13px 13px 13px 13px;
    margin-left: 10px;
    align-items: center;
    margin-right: 30px;
}

.gg-trash{
    width: 15px;
    height: 19px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px;
    color: red; 
}

.controls-button:hover{
    background-color: #ECF87F;
}

.date{
    font-size: 8px;
    font-weight: 100;
    color: gray;
}
